*{
    font-family: 'Roboto', sans-serif;
    /* border: 1px red solid; */
    color:white;
}

.nav {
    background-color: #333333;
    display:flex;
    justify-content: space-between;
}

.nav-title{
    margin-left: 20px;
    align-items: center;
}

.nav-links{
    display:flex;
    align-items: center;
}

li {
    margin:20px;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-size: 20px;
    background-color: #17A2B8;
    color: white;
    box-shadow: 5px 5px black;
}